// Replace with your network credentials of your router and mqtt broker
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// mqtt broker
#define MQTT_HOST IPAddress(192, 168, 2, 14)
// #define MQTT_HOST IPAddress(192, 168, 2, 227)
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_PORT 1883

// homie convention
#define HOMIE_BASE "healthy-indoors"
#define HOMIE_SUB "healthy-indoors/+/+/+/set"
